.albums{
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto auto auto;
    padding-right: 90px;
    padding-left: 80px;
    padding-bottom: 30px;
}

.album{
    width: 235px;
    height: 160px;
    border-radius: 20px;
    box-shadow: 4px 7px 7px 0px #00000042;
    transition: .3s linear;
}

.album:hover{
    transform: scale(1.6);
}