.container{
    padding: 0px 50px 0px 50px;
    text-align: left;
    font-size: 20px;
}

.pr{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container p{
    width: fit-content;
    margin-left: 10px;
}