@import url('https://fonts.googleapis.com/css2?family=Tinos:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.UFA-content{
    font-family: 'Tinos', serif;
    padding-right: 100px;
    padding-left: 100px;
}

.UFA-content h2{
    text-align: right;

}

.UFA-content h3{
    color: #E74C3C;
    font-family: 'Krona One', sans-serif;
}

.UFA-content p{
    text-align: right;
    width: fit-content;
    font-size: 25px;
}